* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #97b0aa;
}

body {
  background-color: #f1eddb;
  font-family: 'Space Mono', monospace;
}

nav {
  height: 5vh;
  margin-bottom: 3%;
}

ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

nav a {
  text-shadow: -0.2px -0.5px -0.5px #4d4d4d;
  text-decoration: none;
  line-height: 8vh;
}

nav a:hover {
  text-shadow: -0.2px -0.2px 0.2px #7e9791, 0.2px 0.2px 0.2px #647d77;
}

.title {
  display: flex;
  justify-content: center;
}

body {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
}

.container {
  max-width: 95%;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.item {
  height: 600px;
  flex-basis: 33.3%;
  -ms-flex: auto;
  width: 27%;
  position: relative;
  padding: 10px;
  box-sizing: border-box;
}

.image {
  height: 100%;
}

.item-wrapper {
  -webkit-box-sizing: initial;
  -moz-box-sizing: initial;
  box-sizing: initial;
  background: #f1eddb;
  border: 2px solid #97b0aa;
  border-radius: 5px;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  /* -webkit-transition: padding 0.15s cubic-bezier(0.4,0,0.2,1), margin 0.15s cubic-bezier(0.4,0,0.2,1), box-shadow 0.15s cubic-bezier(0.4,0,0.2,1); */
  transition: padding 0.15s cubic-bezier(0.4, 0, 0.2, 1),
    margin 0.15s cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.item-container {
  height: 100%;
  width: 100%;
  position: relative;
}

img {
  width: 100%;
  overflow: hidden;
  position: center;
}

.item-content {
  padding: 0 20px 20px 20px;
}

.item-title {
  font-size: 24px;
  line-height: 26px;
  font-weight: 700;
  margin-bottom: 18px;
  display: block;
}

.item-category {
  text-transform: uppercase;
  display: block;
  margin-bottom: 20px;
  font-size: 14px;
}

.item-excerpt {
  margin-bottom: 10px;
  display: block;
  font-size: 14px;
}

.view {
  font-size: 16px;
  display: flex;
  justify-content: space-evenly;
  align-self: flex-end;
}

.view a {
  text-decoration: none;
  color: #e37248;
}

.view a:hover {
  font-size: 18px;
}

.item:hover .item-wrapper {
  padding: 2% 2%;
  margin: -2% -2%;
}

@media (max-width: 1333px) {
  .item {
    flex-basis: 33.33%;
  }
}

@media (max-width: 1100px) {
  .item {
    flex-basis: 50%;
  }
}

@media (max-width: 780px) {
  .item {
    flex-basis: 100%;
  }
}
